name: Import Dataset

on: ["push", "pull_request"]

jobs:
  stable:
    runs-on: ubuntu-latest
    
    env:
      INVENTREE_SITE_URL: http://localhost:8000
      INVENTREE_DB_ENGINE: sqlite3
      INVENTREE_DB_NAME: inventree_db_stable.sqlite3
      INVENTREE_BACKUP_DIR: $GITHUB_WORKSPACE/path/to/backup
      INVENTREE_MEDIA_ROOT: $GITHUB_WORKSPACE/path/to/media
      INVENTREE_STATIC_ROOT: $GITHUB_WORKSPACE/path/to/static

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Install InvenTree
        run: |
          sudo apt-get install python3-dev python3-pip python3-venv python3-wheel g++
          pip3 install invoke
          git clone --depth 1 https://github.com/inventree/inventree inventree -b stable
          cd inventree
          invoke install
      - name: Import Database Records
        run: |
          cd inventree
          invoke migrate
          invoke import-records -c -f $GITHUB_WORKSPACE/inventree_data.json

  latest:
    runs-on: ubuntu-latest
    
    env:
      INVENTREE_SITE_URL: http://localhost:8000
      INVENTREE_DB_ENGINE: sqlite3
      INVENTREE_DB_NAME: inventree_db_latest.sqlite3
      INVENTREE_BACKUP_DIR: $GITHUB_WORKSPACE/path/to/backup
      INVENTREE_MEDIA_ROOT: $GITHUB_WORKSPACE/path/to/media
      INVENTREE_STATIC_ROOT: $GITHUB_WORKSPACE/path/to/static

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install InvenTree
        run: |
          sudo apt-get install python3-dev python3-pip python3-venv python3-wheel g++
          pip3 install invoke
          git clone --depth 1 https://github.com/inventree/inventree inventree
          cd inventree
          invoke install
      - name: Import Database Records
        run: |
          cd inventree
          invoke migrate
          invoke import-records -c -f $GITHUB_WORKSPACE/inventree_data.json
